pkgbase = linux-aarch64-rockchip-6.1-armbian-git
	pkgver = 6.1-rkr4.1
	pkgrel = 1
	url = https://github.com/qqdasb
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	options = !strip

pkgname = linux-aarch64-rockchip-6.1-armbian-git
	pkgdesc = The linux-rockchip kernel, with Armbian's hacks
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-6.1-armbian-git-headers
	pkgdesc = Headers and scripts for building modules for the linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = python
