pkgbase = linux-aarch64-rockchip-rk6.1-opi3b-git
	pkgver = 6.1-rkr4.1
	pkgrel = 2
	url = https://github.com/qqdasb
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	options = !strip
	source = git+https://github.com/qqdasb/linux-rockchip.git
	source = .config
	sha512sums = SKIP

pkgname = linux-aarch64-rockchip-rk6.1-opi3b-git
	pkgdesc = The linux-rockchip kernel, with Armbian's hacks
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-rk6.1-opi3b-headers-git
	pkgdesc = Headers and scripts for building modules for the linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = python
